.Bmw
{
    width: 90vw;
    height: 120vh;
}
.box1
{
    width: 100%;
    height: 100%;
}
.box2
{

    width: 90%;
    text-align: center;
    height: 50%;
    color: cyan;
    margin-left: 7%;
    padding: 20px;
    margin-bottom: 5%;
    font-size: 90%;
}

.orderBtn
{
    width: 20%;
    height: 7%;
    color: cyan;
    padding: 0;
   position: absolute;
   left: 37%;
   cursor: pointer;
   border: 1px solid cyan;
   top: 110%;
   padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  
}
.orderBtn:hover
{
    background-color: cyan;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 5px cyan;
}
.img
{
    width: 60%;
    margin-left: 20%;
    height: 80%;
    padding: 10px;
}
.right
{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 75%;
    cursor: pointer;
    background-color: transparent;
}
.left
{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 15%;
    cursor: pointer;
    background-color: transparent;  }
